<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" style="height: 100%">
<html dir="rtl" lang="ar">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5"/>

    <title>Sentence Punctuation Tool</title>
    <meta property="og:title" content="Sentence Punctuation Tool">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<div class="col-sm-1"></div>
<div class="col-sm-10">

    <div class="row">
        <h1 id="headline">שלום אור,</h1>
    </div>

    <form action="/index" method="POST" enctype="multipart/form-data">

        <br>

        <center>
            <p>
                <button id="predict" type="submit" name="submit_button" value="rec" onclick="$('#recording').show()">
                    הקלט
                </button>
            </p>

            <p></p>
            <div>או</div>
            </p>

            <p><input type="file" name="file" accept=".wav"></p>
            <button type="submit" name="submit_button" value="file" onclick="$('#uploading').show()">בדיקה</button>

        </center>

        <div id="recording" style="display:none;">
            <center>
                <br>
                <p>מקליט...</p>
            </center>
        </div>

        <div id="uploading" style="display:none;">
            <center>
                <br>
                <p>בודק...</p>
            </center>
        </div>

        <div class="row">
            <br>
            <p id="subHead">תוצאה:</p>
            <textarea class="form-control txt_summary" rows="4" cols="5000" id="input_prediction"
                      readonly>{{ pred }}</textarea>
        </div>

        <br>

        <button type="submit" name="submit_button" value="clean">נקה</button>

    </form>

</div>
</div>
</body>


</html>